<section class="u-clearfix u-section-1" id="sec-3d21">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-spacing-vertical u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-size-30">
              <div class="u-layout-col">
                <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-white u-layout-cell-1">
                  <div class="u-container-layout u-valign-middle u-container-layout-1">
                    <h2 class="u-text u-text-1"> Office Address</h2>
                    <p class="u-text u-text-2"> Office of CEO,<br> MyGov
                      3rd Floor,
                      Room no-3015 <br>
                      Ministry of Electronics and Information Technology
                      (Government of India)<br>
                      Electronics Niketan, 6, CGO Complex,
                      Lodhi Road,<br>
                      New Delhi - 110003
                      India</p>
                    <p class="u-text u-text-3"> Phone: 011-24301812</p>
                    <p class="u-text u-text-4"> e-Mail: connect[at]mygov[dot]nic[dot]in</p>
                  </div>
                </div>
                <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-white u-layout-cell-2">
                  <div class="u-container-layout u-valign-middle u-container-layout-2">
                    <h2 class="u-text u-text-5"> Any feedback, <br>related to content, design,</h2>
                    <p class="u-text u-text-6"> contact me:<br><b>yashmadaan08@gmail.com</b> </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-30">
              <div class="u-layout-row">
                <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-3">
                  <div class="u-container-layout u-container-layout-3">
                    <div class="u-align-left u-expanded u-grey-10 u-map">
                      <div class="embed-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.4394859380327!2d77.23733081488551!3d28.586589592910112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce25ed0000001%3A0x5a32ce5c48be39b0!2sMinistry%20of%20Electronics%20and%20Information%20Technology!5e0!3m2!1sen!2sin!4v1623087219102!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
   