<section class="u-align-center u-clearfix u-image u-section-1" id="carousel_27f5" data-image-width="1900"
  data-image-height="1086">
  <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
    <div class="u-layout">
      <div class="u-layout-row">
        <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-29 u-layout-cell-1"
          data-href="https://static.mygov.in/rest/s3fs-public/mygov_161725058451307401.pdf" data-target="_blank">
          <div class="u-container-layout u-container-layout-1">
            <h1 class="u-custom-font u-font-playfair-display u-text u-text-palette-1-base u-text-1">#IndiaFightsCorona
            </h1>
            <p class="u-text u-text-2">&nbsp;<span class="u-text-palette-1-dark-2"
                style="font-size: 1.5rem; font-weight: 700;">Guidelines For Effective Control of&nbsp;<br>&nbsp;COVID -
                19
              </span>
              <br><br>
              <br>
              <br>
            </p>
            <a href=" "
              class="u-btn u-button-style u-none u-text-hover-palette-4-dark-1 u-text-palette-4-dark-1 u-btn-1"
              data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">Read More&nbsp;<span
                class="u-icon"><svg class="u-svg-content" viewBox="0 -32 426.66667 426"
                  style="width: 1em; height: 1em;">
                  <path
                    d="m213.332031 181.667969c0 4.265625-1.277343 8.53125-3.625 11.730469l-106.667969 160c-3.839843 5.761718-10.238281 9.601562-17.707031 9.601562h-64c-11.730469 0-21.332031-9.601562-21.332031-21.332031 0-4.269531 1.28125-8.535157 3.625-11.734375l98.773438-148.265625-98.773438-148.269531c-2.34375-3.199219-3.625-7.464844-3.625-11.730469 0-11.734375 9.601562-21.335938 21.332031-21.335938h64c7.46875 0 13.867188 3.839844 17.707031 9.601563l106.667969 160c2.347657 3.199218 3.625 7.464844 3.625 11.734375zm0 0">
                  </path>
                  <path
                    d="m426.667969 181.667969c0 4.265625-1.28125 8.53125-3.628907 11.730469l-106.664062 160c-3.839844 5.761718-10.242188 9.601562-17.707031 9.601562h-64c-11.734375 0-21.335938-9.601562-21.335938-21.332031 0-4.269531 1.28125-8.535157 3.628907-11.734375l98.773437-148.265625-98.773437-148.269531c-2.347657-3.199219-3.628907-7.464844-3.628907-11.730469 0-11.734375 9.601563-21.335938 21.335938-21.335938h64c7.464843 0 13.867187 3.839844 17.707031 9.601563l106.664062 160c2.347657 3.199218 3.628907 7.464844 3.628907 11.734375zm0 0">
                  </path>
                </svg><img></span>
            </a>
          </div>
        </div>
        <div class="u-container-style u-image u-layout-cell u-right-cell u-size-31 u-image-1">
          <div class="u-container-layout u-valign-bottom"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="u-align-center u-clearfix u-palette-1-dark-1 u-section-2" id="sec-8a14">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h2 class="u-text u-text-1">India</h2>
    <div class="u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div
          class="u-align-center u-container-style u-list-item u-radius-50 u-repeater-item u-shape-round u-white u-list-item-1">
          <div class="u-container-layout u-similar-container u-container-layout-1">
            <h4 class="u-text u-text-palette-1-dark-3 u-text-2" >Confirmed </h4>
            <p class="u-text u-text-palette-1-light-1 u-text-3">
              <span style="font-weight: 700;">+1,44,46&nbsp;&nbsp;<br>&nbsp; 6,03,65,238
              </span>
            </p>
          </div>
        </div>
        <div
          class="u-align-center u-container-style u-list-item u-radius-50 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2">
          <div class="u-container-layout u-similar-container u-container-layout-2">
            <h4 class="u-text u-text-palette-1-dark-3 u-text-4">Active</h4>
            <p class="u-text u-text-palette-1-light-1 u-text-5">&nbsp;+ 2<span
                style="font-weight: 400;"></span>,33,42<br> 5,90,537
            </p>
          </div>
        </div>
        <div
          class="u-align-center u-container-style u-list-item u-radius-50 u-repeater-item u-shape-round u-video-cover u-white u-list-item-3">
          <div class="u-container-layout u-similar-container u-container-layout-3">
            <h4 class="u-text u-text-palette-1-dark-3 u-text-6">Recovered</h4>
            <p class="u-text u-text-palette-1-light-1 u-text-7">&nbsp; + 3,01,646<br>5,83,71,708
            </p>
          </div>
        </div>
        <div
          class="u-align-center u-container-style u-list-item u-radius-50 u-repeater-item u-shape-round u-video-cover u-white u-list-item-4">
          <div class="u-container-layout u-similar-container u-container-layout-4">
            <h4 class="u-text u-text-palette-1-dark-3 u-text-8">Deceased&nbsp;</h4>
            <p class="u-text u-text-palette-1-light-1 u-text-9">&nbsp;+ 3,112<br>7,89,050
            </p>
          </div>
        </div>
      </div>
    </div>
    <p class="u-text u-text-10" style='color:white'>&nbsp;Last Updated on {{ dateToday | date: "dd-MMM-yyyy hh:mm a" }}</p>
  </div>
</section>
<section class="u-clearfix u-section-3" id="carousel_408b">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-container-style u-group u-white u-group-1">
      <div class="u-container-layout u-valign-top u-container-layout-1">
        <img class="u-image u-image-default u-preserve-proportions u-image-1"
          src="../../assets/images/Pngtreecoronaviruscovid19preventions_6259568.png" alt="" data-image-width="1200"
          data-image-height="1200">
      </div>
    </div>
    <img class="u-image u-image-default u-image-2" src="../../assets/images/Pngtreecoronaviruscovid19preventions_6259568.png" alt=""
      data-image-width="3400" data-image-height="2400">
    <img class="u-image u-image-default u-image-3" src="../../assets/images/coronavirus-data-explorer.png" alt=""
      data-image-width="1600" data-image-height="1129">
  </div>
</section>
<section class="u-align-center u-clearfix u-palette-1-dark-1 u-section-4" id="sec-fc21">
  <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
    <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
      <div class="embed-responsive embed-responsive-1">
        <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
          src="https://www.youtube.com/embed/4q2eTx_DZ7M?mute=0&amp;showinfo=1&amp;controls=1&amp;start=0"
          frameborder="0" allowfullscreen=""></iframe>
      </div>
    </div>
    <h2 class="u-text u-text-1">&nbsp; New Symptoms of Covid-19?</h2>
    <p class="u-align-left u-text u-text-2" >&nbsp;Make sure you pay attention to these new symptoms of
      Covid-19&nbsp;Start your treatment on time and contact a doctor if required. There is no need to panic, right
      advice of the doctors with right medication and positive attitude helps in fighting the corona.</p>
  </div>
</section>
<section class="u-clearfix u-white u-section-5" id="carousel_2d45">
  <div class="u-clearfix u-sheet u-sheet-1"></div>
</section>
<section class="u-clearfix u-gradient u-section-6" id="carousel_913c">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div class="u-border-3 u-border-grey-75 u-image u-image-circle u-preserve-proportions u-image-1" alt=""
      data-image-width="1600" data-image-height="1600" data-animation-name="zoomIn" data-animation-duration="1000"
      data-animation-delay="0" data-animation-direction=""></div>
    <div class="u-clearfix u-gutter-30 u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-1">
            <div class="u-container-layout u-container-layout-1">
              <h3 class="u-text u-text-palette-1-dark-2 u-text-1">Any inquiry </h3>
              <div class="u-form u-form-1">
                <form class="u-clearfix u-form-spacing-20 u-form-vertical u-inner-form" style="padding: 0;" #regFrom="ngForm" (ngSubmit)="addData(regFrom)">
                  <div class="u-form-group u-form-name u-form-group-1">
                    <label for="exampleFormControlInput1" class="u-form-control-hidden u-label">Name</label>
                    <input type="text" placeholder="Enter your Name" id="exampleFormControlInput1" name="name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" ngModel required>
                  </div>
                  <div class="u-form-email u-form-group u-form-group-2">
                    <label for="exampleFormControlInput1" class="u-form-control-hidden u-label">contact</label>
                    <input type="text" placeholder="Enter a valid contact number" id="exampleFormControlInput1" name="contact" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" ngModel required>
                  </div>
                  <div class="u-form-group u-form-message u-form-group-3">
                    <label for="exampleFormControlInput1" class="u-form-control-hidden u-label">address</label>
                    <textarea type="text" placeholder="Enter your address" rows="4" cols="50" id="exampleFormControlInput1" name="address"
                      class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" ngModel required></textarea>
                  </div>
                  <div class="u-align-left u-form-group u-form-submit u-form-group-4">
                    <button type="submit" class="u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-4-light-1 u-palette-4-base u-radius-49 u-btn-1">Submit</button>
                    
                  </div>
                </form>
                <div class="alert alert-success" *ngIf="msg!=''" role="alert">
                  {{msg}}
              </div>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>